services:
  db:
    image: postgres:16-alpine
    container_name: balance_bot_postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - balance_bot_pg:/var/lib/postgresql/data

  bot:
    build: .
    container_name: balance_bot_app
    command: /app/startup.sh
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always

volumes:
  balance_bot_pg: